/* @import url('halloween.css'); */

html {background-color: blueviolet}
p {color: white; background-color: red; font-size: 18px}
p:hover {color: red; background-color: white}
p.two {font: bold 15px Arial, sans-serif}
header {
    text-align:center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+0,000000+100 */
    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(top, #ff0000 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff0000 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff0000 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
nav ul li {
    list-style:none;
    display: inline-block;
    padding: 10px 5px;
    height: 25px;
    width: 100px;
}
nav a {
    text-decoration:none; 
}
h1 {font-family: courier; font-size: 2em}
h2 {font-style: italic; font-size: 1.5em}
body{font-size: 100%}
li {font-variant: small-caps}
footer {font-weight: bold}
article h2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffff00+33,000000+100 */
    background: #ffffff; /* Old browsers */ 
    background: -moz-linear-gradient(top, #ffffff 0%, #ffff00 33%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffff00 33%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffff00 33%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}